@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.gradient-c {
  background: linear-gradient(222deg, #FFEEE1 -7.77%, rgba(255, 232, 215, 0.60) 98.72%);
}

.shadow {
  box-shadow: 0px 3px 8px 0 rgba(0,0,0,0.05);
}